body{
	background-image: url("bg3.jpg");
	 background-repeat: no-repeat;
  background-size: 100% 105%;
	 height: 200px;
  width: 50%;
  color:#212F3D  ;
font-size:20px
style="font-family:Calibri"
}